<!DOCTYPE html>
<html lang="en">
  
  <%- include("includes/head", {title: "Dashboard Page"}) %>
  
  <body>
    <%- include("includes/nav") %>
    <main class="dbContainer">
      <h1 class="dbTitle">Agenda</h1>
      <p class="dbSubtitle">Keep all your contacts in one place!</p>
      
      <section class="dbSection">
        <%- include("includes/messages") %> 
      </section>

      <table>
        <thead>
          <tr class="thLine">
            <th scope="col" class="thCols">Name</th>
            <th scope="col" class="thCols">LastName</th>
            <th scope="col" class="thCols">Phone</th>
            <th scope="col" class="thCols">Email</th>
            <th scope="col" class="thCols">Edit Contact</th>
            <th scope="col" class="thCols">Delete</th>
          </tr>
        </thead>
        <tbody>
          <%contactsList.forEach((contact) => { %>
            <tr class="cols">
              <td class="lines"><%= contact.name %></td>
              <td class="lines"><%= contact.lastName %></td>
              <td class="lines"><%= contact.phoneNumber%></td>
              <td class="lines"><%= contact.email %></td>
              <td class="lines">
                <a href="/contact/<%=contact._id%>" class="editBtn">Edit</a>
              </td>
              <td class="lines">
                <a href="/contact/delete/<%=contact._id%>" class="deleteBtn">Delete</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </main>
    <footer><%- include("includes/footer") %></footer>
  </body>
</html>
